body {
    margin: 0px;
    margin-top: 98px;
    margin-bottom: 78px;
    padding: 0;
    
}



.heading {
    position: fixed;
    height: 66px;
    z-index: 2;
    top: 0px;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    
    width: 100%;
    margin: 0 auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.navbar {
    height: 66px;
    width: 960px;
    display: block;
    margin: 0 auto; 
       
}

ul {
    position: float;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
    display: block;
    color: #777777;
    text-align: center;
    padding: 10px 3px;
    text-decoration: none;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 10px 3px;;
    text-decoration: none;
}

li a:hover {
    font-weight: bolder;
}




#name {
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left; 
    background-color: #4aaaa5;
    padding: 19px; 
    color: white;
    font-size: 25px;
}





.footer {
    position: fixed;
    bottom: 0;    
    height: 50px;
    width: 100%;
    background-color: #666666;
    border-top: 8px solid  #4aaaa5;
    color: #777777;
    text-align: center;
  }